<h2>Add News</h2>
<form method="post" [formGroup] ="myForm" (submit)="addNews(myForm.value)">
	<table class="table">
		<tr>
			<td>Category</td>
			<td><select class="form-control" formControlName="cname">  
                           <option >-----Select AnyOne-------</option>  
                        <option *ngFor="let c of catData">{{c.cname}}  
                     </option>  
                </select></td>
		</tr>
		<tr>
			<td>News Title:</td>
			<td><input type="text" class="form-control" formControlName="titl"></td>
		</tr>
		<tr>
			<td>News Image:</td>
			<td><input type="file" class="form-control" (change)="myImage($event)"></td>
		</tr>
		<tr>
			<td>News Description:</td>
			<td><textarea name="comment" class="form-control" formControlName="des"></textarea></td>
		</tr>
		<tr>
			<td colsapn="2">
				<input type="submit" value="submit" class="btn btn-success">
			</td>
		</tr>
	</table>
</form>
<h2>News</h2>
<table class="table">
	<tr>
		<th>S.No</th>
		<th>Category</th>
		<th>Image</th>
		<th>Date</th>
		<th>Title</th>
		<th>Description</th>
	</tr>
	<tr *ngFor="let n of natData;let i=index">
		<th>{{i+1}}</th>
		<th>{{n.cname}}</th>
		<th><img src="http://localhost:8888/static/{{n.image}}" width=50 height=50/></th>
		<th>{{n.time|date}}</th>
		<th>{{n.title}}</th>
		<th>{{n.des}}</th>
		<th>
			<a class="btn btn-info">Edit</a>
			<a class="btn btn-danger" (click)="delNews(n._id)">delete</a>
		</th>
	</tr>
</table>
